Django==1.5.2
Fabric==1.7.0
South==0.8.2
autopep8==0.9.3
configglue==1.1.2
dj-static==0.0.5
django-appconf==0.6
django-braces==1.2.2
django-compressor==1.3
django-configglue==0.7
django-fancy-cache==0.4.0
django-model-utils==1.5.0
django-nose==1.2
django-redis-cache==0.10.0
django-redis-sessions==0.4.0
django-social-auth==0.7.26
flake8==2.0
hiredis==0.1.1
html5lib==0.95
httplib2==0.8
logutils==0.3.3
mccabe==0.2.1
nose==1.3.0
nose-selenium==0.07
oauth2==1.5.211
paramiko==1.11.0
pep8==1.4.6
ply==3.4
pycrypto==2.6
pyflakes==0.7.3
python-openid==2.2.5
pyxdg==0.25
raven==3.4.1
redis==2.8.0
requests==1.2.3
selenium==2.35.0
six==1.3.0
slimit==0.8.1
static==0.4
unittest2==0.5.1
wsgiref==0.1.2
